.cart-item {
  display: grid;
  gap: 2rem;
  grid-template-columns: 150px auto;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.cart-item:last-child {
  border-bottom: unset;
}

.cart-item img {
  height: 200px;
  width: 150px;
  object-fit: cover;
}

button {
  cursor: pointer;
  background-color: unset;
  border: none;
}

.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-details footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-details h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
}

.item-price {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.item-price .price-origin {
  font-size: 0.9rem;
  font-weight: normal;
  text-decoration: line-through;
  color: #555;
}

.item-price .discount {
  font-size: 1rem;
  color: green;
}

.qty-editor {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.qty-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  font-size: 1.4rem;
  font-weight: bold;
}

.item-qty {
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-actions button {
  font: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

.item-actions button:hover {
  color: #4040fc;
}
